<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="com/smbtech/serviceframework/starter/logging/logback/properties.xml"/>
    <include resource="com/smbtech/serviceframework/starter/logging/logback/structured-console-appender.xml"/>
    <include resource="com/smbtech/serviceframework/starter/logging/logback/async-appender.xml"/>
    <include resource="com/smbtech/serviceframework/starter/logging/logback/root.xml"/>
</configuration>
